/*--general--*/
body, html {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
div {
    margin: 0;
    padding: 0;
}
.portfolio{
    display: flex;
    flex-direction: column;
}
section{
    min-height: 100vh;
    display: flex;
}
li{
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: capitalize;
}
h2{
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.05em;
}
/* nav bar settings */
navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}
.navbar_container {
    background-color: #0b0b0b;
    overflow:   hidden;
    display: flex;
    justify-content: space-evenly;
    height: 95px;
    border-radius: 20px;
    align-items: center;
    border-radius: 0px 0px 25px 25px;
}
.nav_bar_logo {
    margin-left: 10rem;
}
.nav_bar_links_container {
    margin-left: auto;
    margin-right: 1rem;
}
.button_contact_us_nav_bar {
     margin-right: 3rem;
}
.button_settings_nav_bar {
    cursor: pointer;
    background: linear-gradient(to right,#ffec70 ,#ffec70);
    background-color: #ffec70;
    color: black;
    font-family: 'Abel';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 25px;
    display: inline-block;
    letter-spacing: -5%;
    line-height: 100%;
}
.link_nav_bar_settings {
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
/*-general-*/

/*--main page stlye--*/

.main_page{
    height: 100%;
    width: 100%;
    background: linear-gradient(100deg, #D9D9D9 50%, #0b0b0b 50%);
    display: flex;
    flex-direction: column;
}

.main_2_sections_container {
    display: flex;
    justify-content: space-around;
    height: 55%;
}
.card_1 {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(-11px 23px 10px rgba(0, 0, 0, 0.03)) drop-shadow(-6px 13px 9px rgba(0, 0, 0, 0.1)) drop-shadow(-3px 6px 6px rgba(0, 0, 0, 0.17)) drop-shadow(-1px 1px 3px rgba(0, 0, 0, 0.2)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.2));
}
.card_1_first_line_container {
    margin-right: auto;
    margin-top: 5rem;
}
.card_1_first_line {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
}
.card_1_second_line {
    font-family: 'Raleway';
    font-size: 80px;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: center;

}
.card_1_third_line {
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #909090;
}
.card_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20rem;
}
.big_button_card_2_container{
    box-sizing: border-box;
    height: 135px;
    width: 550px;
    left: 903px;
    top: 167px;
    margin-top: 10rem;
    border: 8px solid #909090;
    align-items: center;
}
.card_2_under_button_text {
    margin-top: 5rem;
}
.big_button_settings{
    width: 404px;
    height: 74px;
    left: 890px;
    top: 163px;
    margin-left: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.35538em;
    justify-content: center;
    color: #909090;
}
.card_2_under_button_text {
    overflow-wrap: break-word;
    width: 50rem;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #909090;
}
.button_card_2_under_undertext_container {
    margin-top: 5rem;
}
.button_card_2_under_undertext_settings, .btn_projects {
    all: unset;
    color: gray;
    border-left: 2px solid;
    border-right: 2px solid;
    padding: 15px;
    width: 10rem;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects_main {
    height: 50vh;
    overflow: hidden;

    background-image: url("/assets/Background.png");

    background-repeat:no-repeat;

    background-size:cover;

    background-position:center;
}
.recent_projects_headline {
    color: #909090;
    margin-left: 2rem;
    font-family: 'Raleway';
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    margin-top: 5vh;
}
.boxes_container {
    display: flex;
    gap: 3rem ;
    align-items: center;
    justify-content: space-around;
    margin-top: -5vh;

}
.white_box_1 {
    width: 380px;
    height: 210px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box_1 {
   display: flex;
   flex-direction: column;
}
.overout{
z-index: 10;
top: 5rem; 
height: 180px;
width: 300px;
margin-left: 40px;
position: relative;
}
.box_1_text {
    margin-top: -95px;
}
.boxes_button_container{
    margin-right: 255px;
}
.btn_projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}
.social_btns{
    display: inline-flex;
    width: 61px;
    height: 56px;
    left: 252px;
    top: 500px;
    background: #C4C4C4;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
a {
    text-decoration: none;
}
.desc_project {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 45px;
    list-style: none;
}
.desc_project li::before{
    content: "•";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -25px;
}

/*-main page-*/

/*--about page--*/
.about{
    width: 100%;
    height: 100%;
    background-color: #ABABAB; 
    background-image: url(assets/About-desktop.png);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
}
.about_me{
    margin-left: 3rem;
}
.few_words{
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    width: 25vw;
    height: 5vh;
}
.about_para{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 138.68%;
    color: #FFFFFF;
    width: 40vw;
    height: 25vh;
}
.separator{
    width: 10vw;
    height: 1vh;
    margin-left: 15vw;
    margin-top: 3vh;
}
.box_skills{
    box-sizing: border-box;
    border: 8px solid #000000;
    width: 15vw;
    height: 5vh;
    margin-left: 12vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.35538em;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.programs{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    margin-left: 3rem;
}
.using{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.18538em;
    color: #000000;
    display: flex;
    align-items: center;
    width: 12vw;
    height: 6vh;
    margin-bottom: 3vh;
}
.program_list{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.program_line{
    display: flex;
    gap: 90px;
}
.program{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.13538em;
}
.program_name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.13538em;
}
.additional{
    margin-left: 5vw;
    margin-top: 1vh;
}
.btn_additional{
    all: unset;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;
    padding: 15px;
    width: 10rem;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*! - additional about page - !*/

.about_additional{
    width: 100vw;
    background-color: #ABABAB; 
    background-image: url(assets/About-desktop.png);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
    display: none;
    flex-direction: column;
}
.top_card{
    display: flex;
    flex-direction: column;
}
.additional_skills_box{
    box-sizing: border-box;
    border: 8px solid #000000;
    width: 50vw;
    height: 10vh;
    margin-left: 5vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.additional_skills{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.35538em;
}
.addi_prog_list{
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: center;
    margin-left: 5vw;
}
.addi_program{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addi_name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.13538em;
}
.bottom_card{
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
}
.studying{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    letter-spacing: 0.18538em;
    margin-left: 1vw;
}
.study_list{
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: center;
    margin-left: 5vw;
    margin-top: 5vh;
}
.study_program{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.additional_addi_page{
    display: flex;
    justify-content: flex-end;
    margin-right: 5vw;
}
/*! additional page !*/

/*-about page-*/

/*--projects--*/

.projects_page{
    width: 100%;
    height: 100%;
    background-color: #909090;
    background-image: url(assets/projects-desktop.png);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.projects{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    gap: 7px;
    margin: 50px;
}
.line{
    display: flex;
    gap: 50px;
}
.white_box{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 17vw;
    height: 16vh;
    background-color: white;
    border-radius: 15px;
}
.project_pic{
    position: relative;
    top: 5rem;
    margin-left: 2vw;
    width: 13vw;
}
.pages{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-bottom: 2vh;
}
.pages_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 3vw;
    height: 30vh;
    background-color: white;
    border-radius: 25px;
}
.first{
    display: flex;
    justify-content: center;
    border-top: 2px solid;
    width: 2vw;
}
.btn_first{
    all: unset;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.last{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
    width: 2vw;
}
.btn_last{
    all: unset;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.num{
    display: flex;
    justify-content: center;
    border-left: 2px solid;
    border-right: 2px solid;
    width: 2vw;
}
.btn_num{
    all: unset;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*! - project detail - !*/

.project_detail_page{
    width: 100%;
    height: 100%;
    background-color: #909090;
    background-image: url(assets/projects-desktop.png);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.project_white_box{
    background-color: white;
    width: 95vw;
    height: 80vh;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}
.top_project_line{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.project_name_info{
    margin-left: 2vw;
}
.product_name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.05em;
}
.product_catagory {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 45px;
    list-style: none;
}
.product_catagory li::before{
    content: "•";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -25px;
}
.back_projects{
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;
    padding: 15px;
    width: 10vw;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    height: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 65vw;
}
.btn_back_project{
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5vh;
}
.project_detail{
    width: 85vw;
    height: 35vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.68%;
    text-transform: capitalize;
    margin-left: 1vw;
}
.projects_pics_detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    gap: 60px;
}
.btn_back_pics_details{
    all: unset;
    cursor: pointer;
}
.pic_detail{
    all: unset;
    cursor: pointer;
}
.btn_forward_pics_details{
    all: unset;
    cursor: pointer;
}

/*!project detail!*/

/*-projects page-*/

/*--contact page--*/
.contact_page{
    width: 100%;
    height: 100%;
    background-color: #909090;
    background-image: url(assets/Contact-desktop.png);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
    position: relative;
}
.contact_h{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25vw;
    margin-top: 20vh;
    width: 45vw;
    height: 9vh;
}
form{
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
.name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    display: flex;
    align-items: center;
    gap: 30px;
}
.email{
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #000000;
}
.message{
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #000000;
    margin-left: 10vw;
    margin-bottom: 5vh;
}
input{
    width: 22vw;
    height: 5vh;
    background: #FFFFFF;
    border-radius: 25px;
}
textarea{
    width: 30vw;
    height: 21vh;
    background: #FFFFFF;
    border-radius: 25px;
    resize: none;
}
.sub{
    cursor: pointer;
    background: linear-gradient(to right,#ffec70 ,#ffec70);
    background-color: #ffec70;
    color: black;
    font-family: 'Abel';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 25px;
    display: inline-block;
    letter-spacing: -5%;
    line-height: 100%;
    width: 11vw;
    height: 6vh;
}
/*-contact page-*/

/*--footer--*/
footer{
background: #000000;
border-radius: 25px 25px 0px 0px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
}
.back_top{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_top_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: white;
    width: 5vw;
}
.btn_top{
    all: unset;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*-footer-*/